@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dawer Daway</h1>
    <h4> this is a protptype of our dawerdaway website and admin system!</h4>
</div>
