@{
    ViewData["Title"] = "Add New Stock";
}
<style>
    td{
        width:min-content;
    }
    input{
        width:min-content;
    }
</style>

<h1>@ViewData["Title"]</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <table class="table">
        <thead class="toast-header">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Phar. Price</th>
                <th scope="col">Public Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Expire Date</th>
                <th scope="col">Discount</th>
                <th scope="col">Tax</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" /></td>
                <td><input type="text" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="date" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="text" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="date" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="text" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="date" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
            <tr>
                <td><input type="number" /></td>
                <td><input type="text" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="date" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
                <td><input type="number" /></td>
            </tr>
        </tbody>

    </table>
</form>

