
@{
    ViewData["Title"] = "Selling Item";
}

<div class="container-fluid p-4">
    <form method="post">
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <label class="col-form-label">Product name</label>
                    <input type="text" class="form-control" value="Test Name"/>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>dosage</label>
                        <input type="number" class="form-control" min="0" value="500" />
                    </div>
                     <div class="col-3">
                        <label>Price</label>
                        <input type="number" class="form-control" min="0" value="20.3" />
                    </div>
                    <div class="col-3">
                        <label>Quantity</label>
                        <input type="number" class="form-control" min="0" value="2" />
                    </div>
                    <div class="col-3">
                        <label>Expire Date</label>
                        <input type="date" class="form-control" min="0" value="2" />
                    </div>
                </div>
                <div class="row row-cols-2 mb-3">
                    <div >
                        <label>Tax</label>
                        <input type="number" min="0" value="13" class="form-control"/>
                    </div>
                    <div >
                        <label>Total Price</label>
                        <input disabled type="number" value="3.45" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-5">
                <img class="rounded-3 shadow mx-5" src="~/images/online-pharmacy-blue-scaled.jpg" style="width:200px; height:200px;" />
            </div>
            <div class="row">
                <div class="container-fluid">
                    <button type="submit" class="btn btn-dark">Apply Changes</button>
                    <a class="btn btn-outline-dark" asp-action="EditStock" asp-controller="Pharmacy">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
